{
  "Problem": {
    "Type": "Driven",
    "Verbose": 2,
    "Output": "postpro/patch"
  },
  "Model": {
    "Mesh": "patch_antenna.msh",
    "L0": 1.0,
    "Refinement": {}
  },
  "Domains": {
    "Materials": [
      {
        "Attributes": [
          1
        ],
        "Permeability": 1.0,
        "Permittivity": 1.0,
        "LossTan": 0.0
      },
      {
        "Attributes": [
          2
        ],
        "Permeability": 1.0,
        "Permittivity": 2.2,
        "LossTan": 0.0009
      }
    ]
  },
  "Boundaries": {
    "PEC": {
      "Attributes": [
        3,
        4
      ]
    },
    "Absorbing": {
      "Attributes": [
        6
      ],
      "Order": 2
    },
    "LumpedPort": [
      {
        "Index": 1,
        "Attributes": [
          5
        ],
        "R": 50.0,
        "Excitation": true,
        "Direction": "+Z"
      }
    ],
    "Postprocessing": {
      "FarField": {
        "Attributes": [
          6
        ],
        "NSample": 32000
      }
    }
  },
  "Solver": {
    "Order": 2,
    "Device": "CPU",
    "Driven": {
      "MinFreq": 3.2,
      "MaxFreq": 3.5,
      "FreqStep": 0.005,
      "SaveStep": 5,
      "AdaptiveTol": 0.001
    },
    "Linear": {
      "Type": "Default",
      "KSPType": "GMRES",
      "Tol": 1e-08,
      "MaxIts": 500
    }
  }
}